fastapi
uvicorn[standard]
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-chroma

chromadb
sentence-transformers
pypdf
huggingface_hub==0.34.0
tavily-python 
langchain-tavily

langgraph